#main-content {
    border-left:1px solid #ddd;
    border-right:1px solid #ddd;
    -webkit-box-shadow: 0px 0px 15px 5px rgba(221, 221, 221, .75);
    -moz-box-shadow: 0px 0px 15px 5px rgba(221, 221, 221, .75);
    box-shadow: 0px 0px 15px 5px rgba(221, 221, 221, .75);
    background-color:#fff;
}


body {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #eee;
}

.form-signin {
    max-width: 560px;
    padding: 15px;
    margin: 0 auto;
}
.form-signin .form-signin-heading, .form-signin {
    margin-bottom: 10px;
}
.form-signin .form-control {
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.form-signin .form-control:focus {
    z-index: 2;
}
.form-signin input[type="text"] {
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: none;
    border-left-style: solid;
    border-color: #999;
}
.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-top-style: none;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-color: #999;
}
.form-signin-heading {
    color: #999;
    text-align: center;
    text-shadow: 0 2px 2px rgba(0,0,0,0.5);
}